<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Cadastrar Comentário</h3>
            <form action="/comentarioCreate" method="post">
                Titulo: <input type="text" name="titulo">
                <br> <br>
                Texto: <input type="text" name="texto">
                <br> <br>
                Autor: <input type="text" name="autor">
                <br> <br>
                <input type="submit" value="Cadastrar">
            </form>
        </div>
    </div>
</div>